body {
  font-family: sans-serif;
  text-align: center;
  margin-top: 40px;
}

input, select {
  padding: 5px;
  margin: 5px;
  width: 100px;
}

button {
  padding: 8px 15px;
}

#result {
  font-size: 20px;
  margin-top: 20px;
  color: blue;
}
